<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" th:content="${@config.getKey('portal.index.keywords')}">
    <meta name="description" th:content="${@config.getKey('portal.index.description')}">
    <title th:text="${@config.getKey('portal.index.title')}"></title>
    <meta name="baidu-site-verification" content="dAEtGwEyN9" />
    <link rel="stylesheet" th:href="@{/portal/union/css/style.css}"/>

    <script th:src="@{/portal/union/js/jquery-1.8.3.js}"></script>
    <script th:src="@{/portal/pnews/plugin/layer/layer.js}"></script>
</head>
<body>
    <div class="login-con password-con">
        <h1>修改密码</h1>
        <div class="login-form">
            <input type="text" placeholder="手机号"/>
        </div>
        <div class="login-formz">
            <input type="text" placeholder="输入验证码"/>
            <button type="button">获取验证码</button>
        </div>
        <div class="login-form">
            <input type="password" placeholder="输入密码：密码支持8-32位，字母或数字组合"/>
        </div>
        <div class="login-form">
            <input type="password" placeholder="确认密码"/>
        </div>
        <button type="button" class="btn">提交</button>
        <div class="login-forms">
            <a style="color: #c52726" onclick="closeModal()">返回登录</a>
        </div>
        <p>登录过的用户请沿用之前的登录方式</p>
    </div>
<script>
    function closeModal(){
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</body>
</html>