<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" th:content="${@config.getKey('portal.index.keywords')}">
	<meta name="description" th:content="${@config.getKey('portal.index.description')}">
	<title th:text="${@config.getKey('portal.index.title')}"></title>
	<meta name="baidu-site-verification" content="dAEtGwEyN9" />
	<link rel="stylesheet" th:href="@{/portal/union/css/style.css}"/>

	<script th:src="@{/portal/union/js/jquery-1.8.3.js}"></script>
	<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
	<script  th:src="@{/portal/union/js/comment.js}"></script>
	<script th:src="@{/portal/avatar/plugin/layer/layer.js}"></script>
</head>
<body>
<div class="headGroup white fixed" id="headGroup">
	<div th:replace="portal/theme/union/header"></div>
</div>
<div class="baseGroup mb20 mt20" id="indexGroup">
	<div class="main-con">
		<div class="ch-title">
			<img th:src="@{/portal/union/images/home.png}"/>
			当前位置：<span>网站首页</span> > <span>留言板</span>
		</div>
		<div class="per-con">
			<div class="gh-title">
				<img th:src="@{/portal/union/images/hdly.png}">
				<span>留言板</span>
			</div>
			 <form id="comment-form">
				<table class="">
					<tr>
						<td>
							<label>昵称</label>
							<div class="inline-item">
								<input type="text" id="nickname" name="userName" placeholder="请输入昵称"/>
							</div>
						</td>

					</tr>
					<tr>
						<td>
							<label>标题</label>
							<div class="inline-item">
								<input type="text" id="type" name="type" placeholder="请输入标题"/>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<label>内容</label>
							<div class="inline-item">
								<textarea id="content" name="content" placeholder="请输入内容"></textarea>
							</div>
						</td>
					</tr>
					<tr>
						<td class="td1">
							<button type="reset" class="chongzhi">重置</button>&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="tijiao" id="submitCommentBtn">立即提交</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<footer class="bgf mt40">
	<div th:replace="portal/theme/union/footer"></div>
</footer>

</body>
</html>